<div class='product-card'>
  <h1>
    {{product.title}}
  </h1>
  <img src='{{product.thumbnail}}' alt='imagen del producto' />
  <h2>
    Price:
    {{product.price}}
  </h2>
  <h2>
    Category:
    {{product.category}}
  </h2>
  <h2>
    Description:
    {{product.description}}
  </h2>
  <button class='averageButton' onclick="location.href='/products'">Back</button>
</div>